[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Name[ar]=U?OaOuU?O- O?U?U?U?O? U?U?U?U?O+-U?U?U?U?O3
Name[ast]=Restolador web Firefox
Name[bn]=a|<<a| 3/4 a|?a| 1/4 a| 3/4 a|?a|<<a|?a??a|, a|?a|?a| 1/4 a??a|! a|!a??a|?a| 3/4 a|?a|?a| 3/4 a|?
Name[ca]=Navegador web Firefox
Name[cs]=Firefox WebovA 1/2  prohlA-A 3/4 eA?
Name[da]=Firefox - internetbrowser
Name[el]=I IuI?I1I.I3I.I?I(R)I? Firefox
Name[es]=Navegador web Firefox
Name[et]=Firefoxi veebibrauser
Name[fa]=U?O+-U?O+-U?O+- O?U?U?OaO+-U?OaU? Firefox
Name[fi]=Firefox-selain
Name[fr]=Firefox
Name[gl]=Navegador web Firefox
Name[he]=x?x?x?x?x? x?x?x?x x?x?x x? Firefox
Name[hr]=Firefox web preglednik
Name[hu]=Firefox webbA?ngA(C)szA?
Name[it]=Firefox Browser Web
Name[ja]=Firefox a?|a??a??a?>>a??a?(C)a?|a??
Name[ko]=Firefox i?1 e,?e? 1/4 i??i ?
Name[ku]=Geroka torAa Firefox
Name[lt]=Firefox interneto narA!yklA?
Name[nb]=Firefox Nettleser
Name[nl]=Firefox webbrowser
Name[nn]=Firefox Nettlesar
Name[no]=Firefox Nettleser
Name[pl]=PrzeglA?darka WWW Firefox
Name[pt]=Firefox Navegador Web
Name[pt_BR]=Navegador Web Firefox
Name[ro]=Firefox a?? Navigator Internet
Name[ru]=D?DuD+--D+-N?D?N?D.DuN? Firefox
Name[sk]=Firefox - internetovA 1/2  prehliadaA?
Name[sl]=Firefox spletni brskalnik
Name[sv]=Firefox webblA?sare
Name[tr]=Firefox Web TarayA+-cA+-sA+-
Name[ug]=Firefox OaU?O+-U?U?O+-U?U?
Name[uk]=D?DuD+--D+-N?D?N?D.DuN? Firefox
Name[vi]=TrA!nh duya>>?t web Firefox
Name[zh_CN]=Firefox c 1/2 ?c>>?aeu?e??a??
Name[zh_TW]=Firefox c?2e.?c??e| 1/2 a??
Comment=Browse the World Wide Web
Comment[ar]=OaOuU?O- O?U?O'O?U?O(C) O?U?O1U?U?O?U?OaU?O(C) O?U?O1O?U?U?U?O(C)
Comment[ast]=Restola pela Rede
Comment[bn]=a|?a|?a??a|?a| 3/4 a|?a|?a??a|? a|!a??a|?a| 3/4 a|?a|? a|?a|?a??a|?
Comment[ca]=Navegueu per la web
Comment[cs]=ProhlA-A 3/4 enA- strA!nek World Wide Webu
Comment[da]=Surf pAJPY internettet
Comment[de]=Im Internet surfen
Comment[el]=I?I?I?I?IuI?I?Iu I 1/2 I+- I?IuI?I1I.I3I.I,IuI?I?Iu I?I?I? I'I1I+-I'I?IoI?I?I? (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Comment[fa]=OuU?O-O?Oa O'O?U(C)U? O!U?O?U?U? O?U?U?OaO+-U?Oa O+-O? U?O+-U?O+- U?U?O?U?U?O?
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola rede
Comment[he]=x?x?x?x(C)x? x?x?x?x?x? x?x?x?x x?x?x x?
Comment[hr]=PretraA 3/4 ite web
Comment[hu]=A vilA!ghA!lA3 bA?ngA(C)szA(C)se
Comment[it]=Esplora il web
Comment[ja]=a?|a??a??a??e?2e|?a??a? 3/4 a??
Comment[ko]=i?1i?? e??i?? e??e??e??e??
Comment[ku]=Li torAa bigere
Comment[lt]=NarA!ykite internete
Comment[nb]=Surf pAJPY nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf pAJPY nettet
Comment[no]=Surf pAJPY nettet
Comment[pl]=PrzeglA?danie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ro]=NavigaE?i pe Internet
Comment[ru]=D?D 3/4 N?N?N?D? D2 D?D 1/2 N?DuN?D 1/2 DuN?
Comment[sk]=Prehliadanie internetu
Comment[sl]=Brskajte po spletu
Comment[sv]=Surfa pAJPY webben
Comment[tr]=A?nternet'te Gezinin
Comment[ug]=O?U?U?U?O?O?U?U?U? OaU?O+-O?U?OaU?U?O+-U?U? U?U?O+-U?U?U?U? O?U?U?U?O?U?
Comment[uk]=D?DuN?DuD3D>>N?D' N?N?D 3/4 N?N?D 1/2 D 3/4 Do D?D 1/2 N?DuN?D 1/2 DuN?N?
Comment[vi]=A?a>>? duya>>?t cA!c trang web
Comment[zh_CN]=aeu?e??ao?e??c 1/2 ?
Comment[zh_TW]=c??e| 1/2 c?2e??c?2e.?
GenericName=Web Browser
GenericName[ar]=U?OaOuU?O- U?U?O?
GenericName[ast]=Restolador Web
GenericName[bn]=a|?a|?a| 1/4 a??a|! a|!a??a|?a| 3/4 a|?a|?a| 3/4 a|?
GenericName[ca]=Navegador web
GenericName[cs]=WebovA 1/2  prohlA-A 3/4 eA?
GenericName[da]=Webbrowser
GenericName[el]=I IuI?I1I.I3I.I?I(R)I? I'I1I+-I'I1IoI?I?I?I?
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fa]=U?O+-U?O+-U?O+- O?U?U?OaO+-U?OaU?
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador Web
GenericName[he]=x?x?x?x?x? x?x?x x?x?x x?
GenericName[hr]=Web preglednik
GenericName[hu]=WebbA?ngA(C)szA?
GenericName[it]=Browser web
GenericName[ja]=a?|a??a??a?>>a??a?(C)a?|a??
GenericName[ko]=i?1 e,?e? 1/4 i??i ?
GenericName[ku]=Geroka torAa
GenericName[lt]=Interneto narA!yklA?
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=PrzeglA?darka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=D?DuD+--D+-N?D?N?D.DuN?
GenericName[sk]=InternetovA 1/2  prehliadaA?
GenericName[sl]=Spletni brskalnik
GenericName[sv]=WebblA?sare
GenericName[tr]=Web TarayA+-cA+-
GenericName[ug]=OaU?O+-U?U?O+-U?U?
GenericName[uk]=D?DuD+--D+-N?D?N?D.DuN?
GenericName[vi]=TrA!nh duya>>?t Web
GenericName[zh_CN]=c 1/2 ?c>>?aeu?e??a??
GenericName[zh_TW]=c?2e.?c??e| 1/2 a??
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[ar]=O?U?OaO+-U?Oa;OJPYU?OaO+-U?Oa;U?OaOuU?O-;U?U?O?;U?O?
Keywords[ast]=Internet;WWW;Restolador;Web;Esplorador
Keywords[ca]=Internet;WWW;Navegador;Web;Explorador;Explorer
Keywords[cs]=Internet;WWW;ProhlA-A 3/4 eA?;Web;Explorer
Keywords[da]=Internet;Internettet;WWW;Browser;Browse;Web;Surf;Nettet
Keywords[de]=Internet;WWW;Browser;Web;Explorer;Webseite;Site;surfen;online;browsen
Keywords[el]=Internet;WWW;Browser;Web;Explorer;I?I1I+-I'I?IoI?I?I?;I IuI?I1I.I3I.I?I(R)I?;Firefox;I|I1I?IuI?I?I?;I?I 1/2 I?IuI?I 1/2 IuI?
Keywords[es]=Explorador;Internet;WWW
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;selain;Internet-selain;internetselain;verkkoselain;netti;surffaa
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur
Keywords[he]=x?x?x?x?x?;x?x?x x?x?x x?;x?x(C)xa;x?xax?x?x?;x?xax?;x?x?x?x?x?x?x?x!;x?x?x?x?x?x?;
Keywords[hr]=Internet;WWW;preglednik;Web
Keywords[hu]=Internet;WWW;BA?ngA(C)szA?;Web;HA!lA3;Net;Explorer
Keywords[it]=Internet;WWW;Browser;Web;Navigatore
Keywords[is]=Internet;WWW;Vafri;Vefur;Netvafri;Flakk
Keywords[ja]=Internet;WWW;Web;a??a?3a??a? 1/4 a??a??a??;a??a?(C)a?|a??;a?|a??a??;a??a??a?1a??a?-a? 1/4 a?(C)
Keywords[nb]=Internett;WWW;Nettleser;Explorer;Web;Browser;Nettside
Keywords[nl]=Internet;WWW;Browser;Web;Explorer;Verkenner;Website;Surfen;Online 
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[ru]=Internet;WWW;Browser;Web;Explorer;D,D 1/2 N?DuN?D 1/2 DuN?;D+-N?D?N?D.DuN?;D2DuD+-;N?D?D1N?N?D 3/4 DoN?;D 3/4 D3D 1/2 DuD>>D,N?
Keywords[sk]=Internet;WWW;PrehliadaA?;Web;Explorer
Keywords[sl]=Internet;WWW;Browser;Web;Explorer;Brskalnik;Splet
Keywords[tr]=A?nternet;WWW;TarayA+-cA+-;Web;Gezgin;Web sitesi;Site;sA?rf;A?evrimiA?i;tara
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;D?D 1/2 N?DuN?D 1/2 DuN?;D 1/4 DuN?DuD?D?;D?DuN?DuD3D>>N?D'D?N?;D 3/4 D3D>>N?D'D?N?;D+-N?D?N?D.DuN?;D2DuD+-;N?D?D1N?N?D 3/4 DoN?;D2D 3/4 D3D 1/2 DuD>>D,N?;D?DuN?DuD3D>>N?D'
Keywords[vi]=Internet;WWW;Browser;Web;Explorer;TrA!nh duya>>?t;Trang web
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;c 1/2 ?e!u;aeu?e??;a,?c 1/2 ?;c?<<c??;Firefox;ff;ao?e??c 1/2 ?;c 1/2 ?c<<?;
Keywords[zh_TW]=Internet;WWW;Browser;Web;Explorer;c?2e??c?2e.?;c?2e.?;c??e| 1/2 a??;a,?c?2;c?2e ?;c?<<c??
Exec=firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=Open a New Window
Name[ar]=O?U?OaO- U?O?U?O?O(C) O!O?U?O?O(C)
Name[ast]=Abrir una ventana nueva
Name[bn]=Abrir una ventana nueva
Name[ca]=Obre una finestra nova
Name[cs]=OtevA?A-t novA(C) okno
Name[da]=A?bn et nyt vindue
Name[de]=Ein neues Fenster A?ffnen
Name[el]=I?I 1/2 I?I1I3I 1/4 I+- I 1/2 I-I?I? I?I+-I?I+-I,I?I?I?I?
Name[es]=Abrir una ventana nueva
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenAatre
Name[gl]=Abrir unha nova xanela
Name[he]=x?xax?x?xa x?x?x?x? x?x?x(C)
Name[hr]=Otvori novi prozor
Name[hu]=A?j ablak nyitA!sa
Name[it]=Apri una nuova finestra
Name[ja]=ae??a??a??a?|a?GBPa?3a??a?|a??e??a??
Name[ko]=i?? i? 1/2  i?'e,?
Name[ku]=Paceyeke nA>> veke
Name[lt]=Atverti naujA? langA?
Name[nb]=A?pne et nytt vindu
Name[nl]=Nieuw venster openen
Name[pt]=Abrir nova janela
Name[pt_BR]=Abrir nova janela
Name[ro]=Deschide o fereastrA? nouA?
Name[ru]=D?D 3/4 D2D 3/4 Du D 3/4 DoD 1/2 D 3/4 
Name[sk]=OtvoriAJPY novA(C) okno
Name[sl]=Odpri novo okno
Name[sv]=A?ppna ett nytt fA?nster
Name[tr]=Yeni pencere aA? 
Name[ug]=U?U?U-U? U?U?O2U?U?U? O|U?U?U?O'
Name[uk]=D?N?D'DoN?D,N?D, D 1/2 D 3/4 D2Du D2N?DoD 1/2 D 3/4 
Name[vi]=Ma>>? ca>>-a sa>>? ma>>?i
Name[zh_CN]=ae??a>>oca?a?GBP
Name[zh_TW]=e??a??ae??e|?ca?
Exec=firefox -new-window
OnlyShowIn=Unity;

[Desktop Action NewPrivateWindow]
Name=Open a New Private Window
Name[ar]=O?U?OaO- U?O?U?O?O(C) O!O?U?O?O(C) U?U?OaOuU?O- O?U?O(R)O?Ou
Name[ca]=Obre una finestra nova en mode d'incA2gnit
Name[de]=Ein neues privates Fenster A?ffnen
Name[es]=Abrir una ventana privada nueva
Name[fi]=Avaa uusi yksityinen ikkuna
Name[fr]=Ouvrir une nouvelle fenAatre de navigation privA(C)e
Name[he]=x?xax?x?xa x?x?x?x? x?x?x?x(C)x? x?x?x?x?xa x?x?x(C)
Name[hu]=A?j privA!t ablak nyitA!sa
Name[it]=Apri una nuova finestra anonima
Name[nb]=A?pne et nytt privat vindu
Name[ru]=D?D 3/4 D2D 3/4 Du D?N?D,D2D?N?D 1/2 D 3/4 Du D 3/4 DoD 1/2 D 3/4 
Name[sl]=Odpri novo okno zasebnega brskanja
Name[tr]=Yeni bir pencere aA?
Name[uk]=D?N?D'DoN?D,N?D, D 1/2 D 3/4 D2Du D2N?DoD 1/2 D 3/4  N? D?D 3/4 N?D?D1D>>D,D2D 3/4 D 1/4 N? N?DuD?D,D 1/4 N?
Name[zh_TW]=e??a??ae??e?+-c??c??e| 1/2 e|?ca?
Exec=firefox -private-window
OnlyShowIn=Unity;
