#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Terminal
Name[am]=a??a?-a??a??a??
Name[an]=Terminal
Name[ar]=O?U?O.O+-U?U?O(C)
Name[as]=a|?a| 3/4 a??a??a|(R)a|?a|?a??a|2
Name[ast]=Terminal
Name[az]=Terminal
Name[be]=DcN?N?D 1/4 N?D 1/2 D?D>>
Name[be@latin]=TerminaA?
Name[bg]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[bn]=a|?a| 3/4 a|?a??a|(R)a|?a|?a| 3/4 a|2
Name[bn_IN]=a|?a| 3/4 a|?a??a|(R)a|?a|?a??a|?a| 3/4 a|2
Name[br]=Termenell
Name[bs]=Terminal
Name[ca]=Terminal
Name[ca@valencia]=Terminal
Name[cs]=TerminA!l
Name[cy]=Terfynell
Name[da]=Terminal
Name[de]=Terminal
Name[dz]=a 1/2 ?a 1/2 ca 1/4 ?a 1/2 ?a 1/2 2a 1/4 ?a 1/2 ?a 1/2 +-a 1/2 GBPa 1/4 ?a 1/4 ?
Name[el]=I?IuI?I 1/4 I+-I?I1IoI?
Name[en@shaw]=d???d??>>d??JPYd??|d???d??(C)d???
Name[en_CA]=Terminal
Name[en_GB]=Terminal
Name[eo]=Terminalo
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminala
Name[fa]=U 3/4 O?U?O?U?U?
Name[fi]=PA?A?te
Name[fr]=Terminal
Name[fur]=TerminAcl
Name[ga]=TeirminA(C)al
Name[gl]=Terminal
Name[gu]=aa?aa?a<<?aa(R)aa?aa?aa2
Name[he]=x?x!x?xGBP
Name[hi]=a??a??aJPY?a?(R)a??a??a?2
Name[hr]=Terminal
Name[hu]=TerminA!l
Name[hy]=O?OJPYO?O'O<<O?O!O!
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=c<<?ae?<<
Name[ka]=a?ca??a? a??a??a??a??a??a??
Name[kk]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[km]=a??a??a??a??a??a?,a??
Name[kn]=a2?a2|a3?a2?a2?a3?a2?a3?
Name[ko]=i??e?,e??
Name[ku]=TermA(R)nal
Name[lt]=Terminalas
Name[lv]=TerminA?lis
Name[mai]=a??a??aJPY?a?(R)a??a??a?2
Name[mg]=Terminal
Name[mk]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[ml]=a'?au?a'?au?a??a'(R)a'?a'?a'2au?a??
Name[mn]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[mr]=a??a??aJPY?a?(R)a??a??a?2
Name[ms]=Terminal
Name[nb]=Terminal
Name[nds]=Terminal
Name[ne]=a??a??aJPY?a?(R)a??a??a?2
Name[nl]=Terminalvenster
Name[nn]=Terminal
Name[oc]=Terminal
Name[or]=a!?a!?a-?a!(R)a!?a!?a! 3/4 a!2
Name[pa]=a??a??a?(R)a(C)?a??a?2
Name[pl]=Terminal
Name[ps]=U 3/4 O?U?O?U?U?
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[si]=a??a??a.?a??a?>>a?o
Name[sk]=TerminA!l
Name[sl]=Terminal
Name[sq]=Terminali
Name[sr]=DcDuN?D 1/4 D,D 1/2 D?D>>
Name[sr@latin]=Terminal
Name[sv]=Terminal
Name[ta]=a(R)(R)a??a(R)(C)a??a(R)?a(R)(R)a??
Name[te]=a??a+-?a??a+-?a?(R)a??a??a?2a+-?
Name[th]=a1?a,?a,-a,GBPa1?a,!a,'a,?a,+-a,JPY
Name[tr]=UA?birim
Name[ug]=OaU?O+-U?U?U?O?U?
Name[uk]=DcDuN?D 1/4 N?D 1/2 D?D>>
Name[vi]=Thiao?t ba>>? cua>>?i
Name[wa]=TerminAJPY
Name[xh]=i-Terminal
Name[zh_CN]=c>>?c<<?
Name[zh_HK]=cu?c<<?ae(C)?
Name[zh_TW]=cu?c<<?ae(C)?
Comment=Use the command line
Comment[an]=Emplega la linia de comandos
Comment[ar]=O?O3OaO1U?U? O3O.O+- O?U?OGBPU?O?U?O+-
Comment[as]=a|?a|(R)a| 3/4 a|?a??a|! a|?a| 3/4 a??a?? a|!a??a|?a?+-a|1a| 3/4 a?? a|?a??a|?
Comment[ast]=Usar llinia de comandos
Comment[be]=D?D?D3D?D'D 1/2 N? N?D?D'D 3/4 Do
Comment[be@latin]=UA 3/4 yj zahadny radok
Comment[bg]=D?D.D?D 3/4 D>>D.D2D?D 1/2 Du D 1/2 D? DoD 3/4 D 1/4 D?D 1/2 D'DuD 1/2  N?DuD'
Comment[bn]=a|?a|(R)a| 3/4 a|?a??a|! a|2a| 3/4 a|?a|? a|!a??a|?a|!a|1a| 3/4 a|? a|?a|?a??a|?
Comment[bn_IN]=a|?a|(R)a| 3/4 a|?a??a|! a|2a| 3/4 a|?a|? a|!a??a|?a|!a|1a| 3/4 a|? a|?a|?a??a|?
Comment[br]=ArveraA+- al linenn arc'had
Comment[ca]=Obriu la lA-nia d'ordres
Comment[ca@valencia]=Obriu la lA-nia d'ordes
Comment[cs]=PouA 3/4 A-vat pA?A-kazovA 1/2  A?A!dek
Comment[cy]=Defnyddio'r llinell orchymyn
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[dz]=a 1/2 ?a 1/2 ?a 1/2  1/4 a 1/2 ?a 1/4 ?a 1/2 GBPa 1/2 ?a 1/4 ?a 1/2 GBPa 1/2 ?a 1/4 ?a 1/2 GBPa 1/2 oa 1/2 ?a 1/4 ?a 1/2  a 1/2 ?a 1/2 ?a 1/4 ?
Comment[el]=I?I?I(R)I?I. I?I.I? I3I?I+-I 1/4 I 1/4 I(R)I? IuI 1/2 I?I?I>>I?I 1/2 
Comment[en@shaw]=d???d??? d??? d???d??(C)d??JPYd??-d???d??? d???d??2d???
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[eo]=Uzi la komandolinion
Comment[es]=Use la lA-nea de comandos
Comment[et]=KA?surea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=O?O3OaU?O?O?U? O?O2 O(R)O. U?O+-U?O?U?
Comment[fi]=KA?ytA? komentoriviA?
Comment[fr]=Utiliser la ligne de commande
Comment[fur]=Dopre la rie di comant
Comment[ga]=Bain AosA!id as lA-ne na n-orduithe
Comment[gl]=Usar a liA+-a de ordes
Comment[gu]=aa?aa|a<<?aa? aauaa 3/4 aa?a<<?aa? aauaa 3/4 aaaaa?a<<?
Comment[he]=x(C)x?x?x?x(C) x?x(C)x?x?xa x?x?x?x?x?x?
Comment[hi]=a??a?(R)a? 3/4 a??a?! a?2a? 3/4 a??a?? a??a? 3/4  a?aaJPY?a??a??aJPY?a?? a??a??aJPY?a??
Comment[hr]=Koristi komandnu liniju
Comment[hu]=Parancssor hasznA!lata
Comment[id]=Menggunakan baris perintah
Comment[it]=Usa la riga di comando
Comment[ja]=a?3a??a?3a??a?(C)a??a?3c<<?ae?<<a??a??
Comment[ka]=a??a? a??a??a??a??a??a??a?! a?(R)a??a??a??a?! a??a??a??a??a??a??a??a??a??a??
Comment[kk]=D?D 3/4 D 1/4 D?D 1/2 D'D?D>>N?O? D?D 3/4 D>>D'N? O?D 3/4 D>>D'D?D 1/2 N?
Comment[km]=a??a??a??a? 3/4 a??a??a??a??a??a??a??a??a??a??a??a??a??a??a??a??a??a??a??
Comment[kn]=a2?a2?a3?a2?a2 3/4  a2,a2 3/4 a22a2?a3?a2?a3? a2!a23a2,a3?
Comment[ko]=ea?e 1 i??i?? i?!i?(C)i?(C)e??e??
Comment[ku]=RAazika fermanan bikar bA(R)ne
Comment[lt]=Naudoti komandA3 eilutA?
Comment[lv]=Izmantot komandrindu
Comment[mai]=a??a?(R)a? 3/4 a??a?! a?2a? 3/4 a??a?? a??' a?aaJPY?a??a??aJPY?a?? a??a??aJPY?
Comment[mg]=Hampiasa ny lazam-baiko
Comment[mk]=D?D 3/4 N?D,N?N?D, N?D? DoD 3/4 D 1/4 D?D 1/2 D'D 1/2 D?N?D? D>>D,D 1/2 D,N?D?
Comment[ml]=a'?a'(R)a' 3/4 a'?au?a??a'!au? a'2au?a'?au?a?? a'?a'aa'?au?a'?a'?a'?au?a'?au?a'?
Comment[mn]=DcN?N?D?D?D>>N?D 1/2  D 1/4 O(C)N? N?N?N?N?D3D>>N?
Comment[mr]=a??a?|aJPY?a?? a?aa??a??aJPY?a??aJPY? a?ua? 3/4 a?aa??a? 3/4 
Comment[nb]=Bruk kommandolinjen
Comment[nds]=De Orderreeg bruken
Comment[ne]=a??a?|aJPY?a?? a??aJPY?a??a? 3/4  a?aaJPY?a??a??aJPY?a?? a??a??aJPY?a??aJPY?a?1aJPY?a?,aJPY?
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[oc]=Utilizar la linha de comandas
Comment[or]=a!?a!?a!?a-?a!|a-?a!|a-?a!? a!?a! 3/4 a!?a! 3/4 a!?a-? a!!a-?a-?a!!a!1a! 3/4 a!? a!?a!?a!?a-?a!?a-?
Comment[pa]=a??a?(R)a? 3/4 a??a?! a?2a? 3/4 a??a?? a?ua??a??a(C)?a??
Comment[pl]=Wiersz poleceA?
Comment[ps]=O?U?U?U? U?U?U(C)U? U(C)O?O+-U?U?
Comment[pt]=Utilizar a linha de comando
Comment[pt_BR]=Use a linha de comando
Comment[ro]=FoloseE?te linia de comandA?
Comment[ru]=D?N?D?D 3/4 D>>N?D.D 3/4 D2D?N?N? DoD 3/4 D 1/4 D?D 1/2 D'D 1/2 N?N? N?N?N?D 3/4 DoN?
Comment[sk]=UmoA 3/4 A?uje pouA 3/4 A-vaAJPY prA-kazovA 1/2  riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sq]=PA<<rdor rreshtin e komandA<<s
Comment[sr]=D?D 3/4 N?D,N?N?D,N?Du D>>D,D 1/2 D,N?N? D 1/2 D?N?DuD'D+-D,
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=AnvA?nd kommandoraden
Comment[ta]=a(R)?a(R)?a??a(R)?a(R)3a?? a(R)ua(R)?a(R)?a(R)?a?? a(R)aa(R)?a(R)(C)a??a(R)aa(R)?a??a(R)?a??a(R)?a??
Comment[te]=a??a?|a+-?a?? a?2a+-?a??a+-?a??a+-? a??a?aa??a+-?a??a??a??a??a??a?!a??
Comment[th]=a,aa,+-a1?a,?a,?a,2a,GBPa,?a1?a,?a,ca,?a,GBPa,GBPa,?a,+-a,?a,?a,3a,aa,+-a1?a,?
Comment[tr]=Komut satA+-rA+-nA+- kullan
Comment[ug]=O?U?U?O+-U?U? U?U?O+-U?U?U? O|U?O'U?U?Oa
Comment[uk]=D?D 3/4 D 1/4 D?D 1/2 D'D 1/2 D,D1 N?N?D'D 3/4 Do
Comment[vi]=DA1ng dA2ng la>>?nh
Comment[wa]=EployA(R) l'A roye di comande
Comment[zh_CN]=a 1/2 ?c??a? 1/2 a>>?e!?
Comment[zh_HK]=a 1/2 ?c??a? 1/2 a>>?a??
Comment[zh_TW]=a 1/2 ?c??a? 1/2 a>>?a??
Keywords=shell;prompt;command;commandline;
Keywords[an]=enterprite ;indicador;comando;linia de comandos;
Keywords[ar]=O.O+-U?U?O(C);OuO?U?O(C);O3O.O+-;OGBPU?O?U?O+-;
Keywords[as]=a|?a??a|!a??a|2;a|aa??a??a|(R)a|aa??a|?;a|?a|(R)a| 3/4 a|?a??a|!;a|?a|(R)a| 3/4 a|?a??a|!a|?a| 3/4 a??a??;
Keywords[be]=D?D+-D?D>>D 3/4 D 1/2 DoD?;D.D?D3D?D'D 1/2 N? N?D?D'D 3/4 Do;D.D?D3D?D';
Keywords[bn_IN]=a|,a??a|2;a|aa??a|?a|(R)a??a|aa|?;a|?a|(R)a??a|?a| 3/4 a|?a??a|!;a|?a|(R)a??a|?a| 3/4 a|?a??a|!-a|2a| 3/4 a|?a|?;
Keywords[ca]=intA?rpret d'ordres;indicador;ordre;lA-nia d'ordres;
Keywords[ca@valencia]=intA?rpret d'ordes;indicador;orde;lA-nia d'ordes;
Keywords[cs]=shell;prompt;vA 1/2 zva;pA?A-kaz;pA?A-kazovA 1/2  A?A!dek;pA?A-kazovA! A?A!dka;
Keywords[da]=shell;skal;prompt;kommando;kommandolinje;
Keywords[de]=Shell;Prompt;Befehl;Befehlszeile;
Keywords[el]=IoI-I>>I?I?I?I?;I?I?I?I?I?I?I?I(R);IuI 1/2 I?I?I>>I(R);I3I?I+-I 1/4 I 1/4 I(R) IuI 1/2 I?I?I>>I?I 1/2 ;
Keywords[en_GB]=shell;prompt;command;commandline;
Keywords[es]=shell;prompt;comando;lA-nea de comandos;
Keywords[et]=shell;kest;kA?suviip;kA?sk;kA?surida;terminal;
Keywords[eu]=shell;gonbitea;komandoa;komando-lerroa;
Keywords[fa]=U 3/4 U?O3OaU?;prompt;U?O+-U?O?U?;O(R)O.a??U?O+-U?O?U?;
Keywords[fi]=shell;prompt;command;commandline;komento;kehote;cli;
Keywords[fr]=shell;prompt;commande;ligne de commande;
Keywords[gl]=shell;consola;orde;liA+-a de ordes;
Keywords[gu]=aa?a<<?aa2;aaaa<<?aa?a<<?aa(R)a<<?aaaa<<?aa?;aa?aa|a<<?aa?;aa?aa|a<<?aa?aauaa 3/4 aa?a<<?aa?;
Keywords[he]=x?xcx?x?xa;x?x?x?x?x?;x(C)x?x?xa x?x?x?x?x?;x(C)x?x?x?;x?x!x? x(C)x?x?x?;x?x?x?x? x?x?x!;
Keywords[hi]=a??aJPY?a?2;a?aaJPY?a??a? 3/4 a??a?aaJPY?a??;a??a?(R)a? 3/4 a??a?!;a??a?(R)a? 3/4 a??a?!a?2a? 3/4 a??a??;
Keywords[hu]=parancsA(C)rtelmezA?;prompt;parancs;parancssor;
Keywords[id]=shell;prompt;perintah;baris perintah;
Keywords[it]=shell;prompt;terminale;rigadicomando;comando;
Keywords[ja]=shell;prompt;command;commandline;a?.a??a?<<;a??a?-a?3a??a??;a?3a??a?3a??;a?3a??a?3a??a?(C)a??a?3;terminal;a??a? 1/4 a??a??a?<<;
Keywords[kn]=a2?a3?a22a3?;a2aa3?a2?a2 3/4 a2?a2aa3?a2?a3?a??;a2?a2|a3?a2?;a2?a2|a3?a2?a2,a2 3/4 a22a3?;
Keywords[ko]=shell;i?,;i??;prompt;i??e!!i??i?,;command;ea?e 1;commandline;ea?e 1i??;i>>?e??e??;e? 1/4 i?,;
Keywords[lt]=apvalkalas;eilutA?;komanda;komandA3 eilutA?;
Keywords[lv]=A?aula;uzvedne;komanda;komandrinda;
Keywords[ml]=shell;prompt;command;commandline;
Keywords[mr]=a??aJPY?a?2;a?aaJPY?a??aJPY?a?(R)aJPY?a?aaJPY?a??;a??a?(R)a? 3/4 a??a?!;a??a?(R)a? 3/4 a??a?!a?2a? 3/4 a??a??;
Keywords[nb]=skall;kommando;kommandolinje;
Keywords[nl]=shell;prompt;commando;opdrachtregel;cli;commandline;terminal;
Keywords[or]=a!,a-?a!2;a!aa-?a!?a!(R)a-?a!aa-?a!?;a!?a!?a!?a-?a!|a-?a!|a-?a!?;a!?a!?a!?a-?a!|a-?a!|a-?a!? a!?a! 3/4 a!?a! 3/4 ;
Keywords[pa]=a??a(C)?a?2;a?aa??a(C)?a??a??;a??a?(R)a? 3/4 a??a?!;a??a?(R)a? 3/4 a??a?!-a?2a? 3/4 a??a??;shell;prompt;command;commandline;
Keywords[pl]=powA?oka;shell;prompt;polecenie;komenda;wiersz poleceA?;linia poleceA?;wiersz komend;linia komend;
Keywords[pt]=consola;linha;comando;terminal;
Keywords[pt_BR]=shell;prompt;comando;comandos;linha de comando;
Keywords[ru]=D 3/4 D+-D 3/4 D>>D 3/4 N?DoD?;N?N?N?D 3/4 DoD?;DoD 3/4 D 1/4 D?D 1/2 D'D?;DoD 3/4 D 1/4 D?D 1/2 D'D 1/2 D?N? N?N?N?D 3/4 DoD?;
Keywords[sk]=shell;vA 1/2 zva;prA-kaz;prA-kazovA 1/2  riadok;
Keywords[sl]=lupina;ukaz;ukazna vrstica;terminal;
Keywords[sr]=N?N?N?DoD?;N?DoD 3/4 N?DoD?;N?D?D,N?;D 1/2 D?N?DuD'D+-D?;DoD 3/4 D 1/4 D?D 1/2 D'D?;
Keywords[sr@latin]=ljuska;A!koljka;upit;naredba;komanda;
Keywords[ta]=a(R).a??a(R)2a??;a(R)?a??a(R)GBPa??a(R)?a(R)?;a(R)?a(R)?a??a(R)?a(R)3a??;a(R)?a(R)?a??a(R)?a(R)3a?? a(R)ua(R)?a(R)?;
Keywords[te]=a?.a+-?a?2a+-?;a?aa+-?a??a? 3/4 a?(R)a+-?a??a+-?;a??a?(R)a? 3/4 a??a?!a+-?;a??a?(R)a? 3/4 a??a?!a+-?a??a?2a+-?a??a+-?;
Keywords[th]=a1?a,?a,JPYa,JPYa1?;a,?a,GBPa,-a,!a,?a1?;a,?a,3a,aa,+-a1?a,?;a,?a,GBPa,GBPa,?a,+-a,?a,?a,3a,aa,+-a1?a,?;
Keywords[ug]=shell;prompt;command;commandline;shell;U?U?O+-O3U?OaU?U?;O?U?U?O+-U?U?;O?U?U?O+-U?U? U?U?O+-U?;
Keywords[uk]=D 3/4 D+-D 3/4 D>>D 3/4 N?DoD?;DoD 3/4 D 1/4 D?D'D 1/2 D,D1;N?N?D'D 3/4 Do;DoD 3/4 D 1/4 D?D 1/2 D'D?;
Keywords[zh_CN]=shell;prompt;command;commandline;a? 1/2 a>>?;ae??c?oc!|;a? 1/2 a>>?e!?;
Keywords[zh_HK]=shell;prompt;command;commandline;ae??c?o;ae??a>>?;a? 1/2 a>>?a??;
Keywords[zh_TW]=shell;prompt;command;commandline;ae??c?o;ae??a>>?;a? 1/2 a>>?a??;
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.8.4
Categories=GNOME;GTK;Utility;System;TerminalEmulator;
StartupNotify=true
